body {
    font-family: $family;
    background-color: $color_secundario;
}

input:focus {
    outline: none;
}

.input_search::placeholder {
    font-style: italic;
}

.modal-header, .modal-footer {
    border: none;
}

.modal-content, .modal-body {
    background-color: $color_secundario;
}

.modal-content {
    -webkit-box-shadow: 0px 0px 15px -4px $color_principal;
    box-shadow: 0px 0px 15px -4px $color_principal;
}

.modal-body {
    padding: 0.5rem;
    
}