body {
    font-family: $family;
    background-color: $color_secundario;
}

input:focus {
    outline: none;
}

.input_search::placeholder {
    font-style: italic;
}

.modal-header, .modal-footer {
    border: none;
}