@media (min-width: 200px) {
    .img_regular {
        width: 25px;
        height: 25px;
    }

    .modalContainer {
        width: 160px;
        height: 150px;
    }

    .custom-loader {
        width:50px;
        height:50px;
    }

}

@media (min-width: 220px) {
    .img_regular {
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 250px) {
    .img_regular {
        width: 35px;
        height: 35px;
    }
}

@media (min-width: 280px) {
    .img_regular {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 320px) {
    .img_regular {
        width: 45px;
        height: 45px;
    }
}

@media (min-width: 350px) {
    .img_regular {
        width: 50px;
        height: 50px;
    }

    .modalContainer {
        width: 250px;
        height: 250px;
    }
}

@media (min-width: 380px) {
    .img_regular {
        width: 55px;
        height: 55px;
    }
}

@media (min-width: 400px) {
    .img_regular {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 420px) {
    .img_regular {
        width: 65px;
        height: 65px;
    }
}

@media (min-width: 450px) {
    .img_regular {
        width: 70px;
        height: 70px;
    }
}

@media (min-width: 490px) {
    .img_regular {
        width: 75px;
        height: 75px;
    }
}

@media (min-width: 510px) {
    .img_regular {
        width: 80px;
        height: 80px;
    }
}

@media (min-width: 550px) {
    .img_regular {
        width: 85px;
        height: 85px;
    }
}

@media (min-width: 768px) {
    .img_regular {
        width: 110px;
        height: 110px;
    }
}

@media (min-width: 992px) {
    .img_regular {
        width: 150px;
        height: 150px;
    }

    .modalContainer {
        width: 300px;
        height: 300px;
    }

    .custom-loader {
        width:100px;
        height:100px;
    }

    .txt_loading {
        font-size: 20px;
    }

}

@media (min-width: 1200px) {
    .img_regular {
        width: 180px;
        height: 180px;
    }

    .modalContainer {
        width: 400px;
        height: 400px;
    }
}

@media (min-width: 1400px) {
    .img_regular {
        width: 210px;
        height: 210px;
    }
}