$family: 'Acme', sans-serif;

$negro: #000;
$blanco: #fff;

$color_principal: #6b6b6b;
$color_secundario:#bdbdbd;
$color_terciario: #444343;

$sombra_nav: 0px 7px 15px -6px $negro;
$sombra_listElement: 0px 0px 15px -2px $negro;
$sombra_btn: 0px 0px 15px -4px $negro;
$sombra_input_search: -7px 0px 25px -15px $negro;
$sombra_btn_search: 12px 0px 25px -13px $negro;