@keyframes txt_noExpenses_animation {
    0% {transform: scale(0.8);}
    25% {transform: scale(1);}
    50% {transform: scale(0.8);}
    75% {transform: scale(1);}
    100% {transform: scale(0.8);}
}


.input_search {
    -webkit-box-shadow: $sombra_input_search; 
    box-shadow: $sombra_input_search;
}

.btn_search {
    background-color: $color_principal;
    color: $color_terciario;
    -webkit-box-shadow: $sombra_btn_search; 
    box-shadow: $sombra_btn_search;
    @include transition_elements();
}

.btn_search:hover {
    filter: brightness(350%);
}

.img_regular {
    -webkit-box-shadow: $sombra_btn;
    box-shadow: $sombra_btn;
    @include transition_elements();
}

.img_regular:hover {
    -webkit-box-shadow: 0px 0px 15px -4px $color_principal;
    box-shadow: 0px 0px 15px -4px $color_principal;
    transform: scale(1.2);
}

.txt_not_found {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    color: $blanco;
    animation: txt_noExpenses_animation 3s ease-out infinite;
}